/*full height only, not width*/
.vjs-full-window {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*fullscreen*/
.video-js.vjs-fullscreen {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
.video-js:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}
.video-js.vjs-fullscreen.vjs-user-inactive {
  cursor: none;
}

img{
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-50%; bottom:-50%;
    left:-50%; right:-50%;
    margin:auto;
    overflow-x:hidden;
    overflow-y:hidden;
    z-index: 1000;
    /*box-sizing: border-box;*/
}

.fullscreen_control{
   margin: 10px auto;
   z-index: 2000;
   color:orange;
   font-size: 35px;
}

.wrapper {
    text-align: center;
}

.fullscreen_control {
    position: absolute;
}