<div class="fullscreen_control_wrapper">
    <a class="fullscreen_control" routerLink="/tvs"><i class="fa fa-times" ></i></a>
</div>
<div *ngIf="loaded == true">
    <vg-player class="videoFullScreen" *ngIf="!image"  (onPlayerReady)="onPlayerReady($event)">
        <video [vgMedia]="media" [src]="get_current_item()" #media id="singleVideo" preload="auto" controls crossorigin>
        </video>
    </vg-player>
    <img *ngIf="image"  src="{{image}}" alt="First slide">
</div>
<h3 *ngIf="loaded == false">Loading...</h3>


<!--class="d-block w-100 center-fit"-->